:root {  
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
.main{
    font-size: 14.6vw
}

.im{
    position: relative;
}

.back{
    font-size: .1em;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.back:hover{
    color: var(--r)
}


.thing{  
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}