:root{
    --header-h: 10vh;
}


.header{
    position: fixed;
    z-index: 1;
    height: var(--header-h);
    display: flex;
    place-items: center;
    font-size: 5vh;
    font-style: italic;
    background-color: var(--accent-bg);
    width: 100%;
    
}

.left{
    padding-left: 1em;
    cursor: pointer;
}

.content{
    z-index: 0;
    margin-top: var(--header-h);
    width: 90%;
}

.footer{
    z-index: 0;

    background-color: var(--g);
    height: 15em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer::after{
    content: "";
    display: block;
    background-color: var(--y);
    width: 0.2em;
    height: 10em;
    position: absolute;
}

.fleft, .fright{
    margin-inline: 5em;
    font-size: 2em;
    flex-shrink: 1;
}

.flinkhead{
    margin-bottom: 0.75em;

}
.fhover{
    transition: 0.2s;
    cursor: pointer;
}
.fhover:hover{
    color: var(--r)
}

.genrehead{
    cursor: pointer;
    margin-left: .2em;
}

.main{
    
    background-color: rgba(0, 0, 0, 0.091);
}

.vid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

@media (max-width: 500px){
    .content{

        width: 100%;
    }
}