:root{
    --cw: 14vw;
}



.movie{
    margin: 1em;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    width: var(--cw);
    background-color: transparent;
}

.movie:hover{
    transform: scale(1.5);
}

.movie:hover .info{
    opacity: 1;
}

.movieContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.allmovies{
    margin-bottom: 25vh;
    margin-left: 10vh;

}

.info{
    margin-top: -2em;
    margin-inline: 1em;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.name{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 3vh;
    color: var(--y);
}

.desc{
    font-size: 3vh;
}

.play{
    color: var(--g);
    position: absolute;
    font-size: 4vh;
    right: 0;
}

.heading{
    font-size: 8vh;
    padding: 1em;
}

.category{
    font-size: 5vh;
}

.img{
    width: var(--cw);
    height: 40vh;
}

