.movie{
    display: flex;
    padding: 1em;
    border-radius: 2vh;
    background-color: var(--b);
    margin: 1em;
}

.info{
    margin-left: 1vw;
}

.name{
    font-size: 50px;
    color: var(--y);
    display: flex;
}

.desc{
    font-size: 20px;
}

.play{
    color: var(--g);
    background-color: black;
    border-radius: 100vh;
}

