:root{
    --tra: 0.2s ease-in-out
}

.main{
    background-color: var(--b);
    margin-top: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10vh 10vh 0vh 0vh;
    transition: var(--tra);
}

.container{
    display: flex;
    margin-bottom: 5em;
    align-items: flex-start;
}

.name{
    color: var(--y);
    font-size: 60px;
    margin-top: 0.4em;
    transition: var(--tra);
}

.info{
    margin-left: 2em;

}

.desc{
    font-size: 25px;
    transition: var(--tra);

}

.imgbox{
    margin-top: -6em;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.342);
    position: relative;
}



.othersimg{
    width: 20%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.othersimg:hover{
    transform: scale(1.5);
}

.wrapper{
    width: 70%;
}

.umaylike > *{
    margin-bottom: 5vh;
}

.umaylike > img{
    margin-inline: 1vw;
}

.umaylikehead{
    font-size: 40px;
}

.umaylike{
    margin-bottom: 3em;
}

.tags{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.tag{
    background-color: grey;
    border-radius: 2vh;
    padding: .3em;
    padding-inline: 0.5em;
    width: fit-content;
    margin-left: 0.25em;
    display: flex;
}

.service{
    background-color: grey;
    border-radius: 2vh;
    padding: .3em;
    padding-inline: 0.5em;
    width: fit-content;
    margin-left: 0.25em;
    display: flex;
    font-size: 1.5em;
}

.watchtrailer{
    display: flex;
    background-color: var(--g);
    position: absolute;
    margin-top: -2em;
    right: 0.1em;
    padding: 0.25em;
    padding-inline: 0.75em;
    border-radius: 1em;
    transition: var(--tra);
    cursor: pointer;
    font-size: 1.5em;
}