@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
:root{
    --bg: #000000;
    --fg: white;
    --accent-bg: #2979FF;
    --accent-bg-2: #205cc4;
    --r: #ef476f;
    --y: #ffd166;
    --g: #06d6a0;
    /*--b: #118ab2;*/
    --b: #2979FF;
}
html, body{
    width: 100%;
    height: 100%;
}

*{
    font:inherit;
    font-family: 'Changa One', cursive;
    background-color: inherit;
    color: inherit;
}

body{
    background-color: var(--bg);
    color: var(--fg);
}